/**
 * @name Idk what ti call this
 * @author puckzxz#2080
 * @version 2.2
 * @description An easily customizable and automatically updating theme
 * @invite FdZhbjY
 * @source https://github.com/puckzxz/NotAnotherAnimeTheme
*/

@import url('https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css');

/* Message */

:root{
    --custom-padding-: 5px;
    --custom-border-radius-: 5px;
    --custom-top-bottom-: 5px;
}
.theme-dark{
    --custom-chat-message: rgba(0,0,0,0.8);
    --theme-text-color: white;
}
.theme-light{
    --custom-chat-message: rgba(240,240,240,0.8);
    --theme-text-color: black;
}
.newMessagesBar-265mhP{
    padding: var(--custom-padding-);
    border-radius: var(--custom-border-radius-);
    top: var(--custom-top-bottom-);
    background-color: var(--custom-chat-message);
}
.newMessagesBar-265mhP:active{
    padding: var(--custom-padding-);
    top: 4px;
}
.jumpToPresentBar-G1R9s6{
    padding: var(--custom-padding-);
    border-radius: var(--custom-border-radius-);
    bottom: var(--custom-top-bottom-);
    background-color: var(--custom-chat-message);
    color: var(--theme-text-color) !important;
}
.messagesErrorBar-nyJGU7{
    padding: var(--custom-padding-);
    border-radius: var(--custom-border-radius-);
    bottom: var(--custom-top-bottom-);
    color: var(--theme-text-color) !important;
}

/*Settings / background
.contentRegionScroller-26nc1e{
    background-color: rgba(0,0,0,0);
}
.layer-3QrUeG{
    background-color: var(--custom-background-1);
}
.contentRegion-3nDuYy{
    background: rgba(0,0,0,0)
}
.standardSidebarView-3F1I7i{
    background-color: rgba(0,0,0,0);
}
/*Settings / nav / My account / theme
.background-1QDuV2 {
    background-color: var(--custom-background-secondary);
}
.fieldList-21DyL8{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.theme-dark .bd-addon-list .bd-addon-card{
    background-color: var(--background-secondary);
}
/*Main Screen*/
.layer-3QrUeG.baseLayer-35bLyl{
    opacity: 1 !important;
    transform: scale(1) translateZ(0px) !important;
}
/*Settings / nav / Themes / theme*/
.theme-dark .bd-addon-list .bd-addon-card{
    background-color: var(--custom-background-secondary);
}
.theme-dark .bd-addon-list .bd-addon-header{
    background: var(--custom-background-secondary-alt);
}
.theme-light .bd-addon-list .bd-addon-card{
    background-color: var(--custom-background-secondary);
}
.theme-light .bd-addon-list .bd-addon-header{
    background: var(--custom-background-secondary-alt);
}

.container-1giJp5{
    border-bottom: none;
}
.activityPanel-28dQGo{
    border-bottom: none;
}
/* Users Profile */
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
    background-color: rgba(0, 0, 0, 0) !important;
}
/*User Roles / Add */
.container-3XJ8ns{
    background-color:  rgba(0, 0, 0, 0);
}
/*Settings / nav / theme
:root{
    --custom-background-color-settings-nav: var(--custom-background-1);
    --custom-border-top-bottom-right-radius-settings-nav: 12px;
    --custom-mrgin-top-bottom-settings-nav: 15px;
    --custom-box-shadow-settings-nav: 0px 3px 6px 0px rgba(0,0,0,0.5);
}
.theme-dark .sidebarRegionScroller-3MXcoP{
    background-color: var(--custom-background-color-settings-nav);
    border-top-right-radius: var(--custom-border-top-bottom-right-radius-settings-nav);
    border-bottom-right-radius: var(--custom-border-top-bottom-right-radius-settings-nav);
    margin-bottom: var(--custom-mrgin-top-bottom-settings-nav);
    margin-top: var(--custom-mrgin-top-bottom-settings-nav);
    box-shadow: var(--custom-box-shadow-settings-nav);
}
.theme-light .sidebarRegionScroller-3MXcoP{
    background-color: var(--custom-background-color-settings-nav);
    border-top-right-radius: var(--custom-border-top-bottom-right-radius-settings-nav);
    border-bottom-right-radius: var(--custom-border-top-bottom-right-radius-settings-nav);
    margin-bottom: var(--custom-mrgin-top-bottom-settings-nav);
    margin-top: var(--custom-mrgin-top-bottom-settings-nav);
    box-shadow: var(--custom-box-shadow-settings-nav);
}
.theme-light .themed-OHr7kt.item-PXvHYJ{
    color: black;
}*/
html.theme-light #app-mount::after {
    --caution: rgb(255,80,80);
	content:'Light theme is not supported on this theme. Please deactivate it through settings.\n Settings > Appearance > Theme';
	background: rgba(255, 255, 255, 0.137);
    position:fixed;
    backdrop-filter: blur(3px);
	z-index:999999;
	right:0;
    bottom:0;
    transform: translate(0%,0%);
	display:flex;
	align-items:center;
	line-height:normal;
	padding: 15px;
	margin-right: 80px;
	margin-bottom: 40px;
	box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.747), 0 0 12px rgba(0, 0, 0, 0.397);
	border: 1px solid var(--lv1);
    border-left: 10px solid var(--caution);
    border-radius: 5px;
	color: rgb(0, 0, 0);
	font-size: var(--size1);
    font-family:var(--font);
}
:root {
	/* Get your own backgrounds*/
    --background-image: url('');
    --friends-icon: url('')  
	/**/
  --friends-icon-zoom: 71%;
  --friends-icon-position: center center;
  --main-color: rgb(67,181,129);
  --main-transparency: rgba(0, 0, 0, 0.8);
  --hover-list-bg-color: rgba(0,0,0,0.15);
  --border-lines-color: rgba(0,0,0,0.1);
  --scroll-bar-color: rgba(255,255,255,.15);
  --selected-text-voice-color: #f6f6f7;
  --channel-hover-text-color: rgba(255, 255, 255, 0.75);
  --unread-text-color: 67,181,129;
  --user-popup-background: rgba(0,0,0,0.8);
  --font-size: '16';
  --unread-server-animation: rainbow;
}
